<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>edu.uiuc.cs.hcesc.SensingApp.locationupload</string>
		<string>edu.uiuc.cs.hcesc.SensingApp.apprefresh</string>
		<string>edu.uiuc.cs.hcesc.SensingApp.bgProcessing</string>
		<string>edu.uiuc.cs.hcesc.SensingApp.fileUpload</string>
		<string>edu.uiuc.cs.hcesc.SensingApp.sensorkit.fetch</string>
		<string>edu.uiuc.cs.hcesc.SensingApp.healthResearchBgProcessing</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>NSApplicationCrashOnExceptions</key>
	<true/>
	<key>NSSensorKitUsageDetail</key>
	<dict>
		<key>SRSensorUsageMotion</key>
		<dict>
			<key>Description</key>
			<string>Wrist accelerometer data is used to assess spine recovery activity levels.</string>
			<key>Required</key>
			<true/>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
