<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>edu.uiuc.cs.hcesc.SensingApp.locationupload</string>
		<string>edu.uiuc.cs.hcesc.SensingApp.apprefresh</string>
		<string>edu.uiuc.cs.hcesc.SensingApp.bgProcessing</string>
		<string>edu.uiuc.cs.hcesc.SensingApp.fileUpload</string>
        <string>edu.uiuc.cs.hcesc.SensingApp.sensorkit.fetch</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSApplicationCrashOnExceptions</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
    <key>NSMotionUsageDescription</key>
    <string>This study collects accelerometer data to analyze recovery patterns.</string>
    <key>NSSensorKitUsageDescription</key>
    <string>This research study collects motion data from your Apple Watch.</string>
    <key>NSSensorKitUsageDetail</key>
    <dict>
        <key>NSAccelerometerUsageDescription</key>
        <string>Wrist accelerometer data is used to assess spine recovery activity levels.</string>
    </dict>
</dict>
</plist>
